<!-- AppBar Template -->
<nav id="appbar" class="appbar">
  <div class="logo">🌟 Video Transcoder</div>
  
  
  <div class="nav-icons">
    <button (click)="scrollTo('video-container')">Home</button>
    <button (click)="scrollTo('upload-section')">Upload</button>
    <button (click)="scrollTo('contact-section')">Contact</button>
  </div>
  
  <div class="spacer"></div>
 
<app-encoding-profile-modal
  *ngIf="showModal"
  (modalClosed)="onModalClosed()"
  (profileCreated)="onProfileCreated($event)">
</app-encoding-profile-modal>
<div class="spacer"></div>
 <button *hasRole="'Admin'" class="custom-encoding-button" (click)="openModal()">
   Add Encoding +
</button>

  <div class="logout-container">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>