<!-- video-player.component.html -->
<section id="video-section" class="video-section">
  <div id="video-wrapper" class="video-wrapper">
    <div id="video-container" class="video-container">
      <video #video class="video-player" controls  [poster]="thumbnailUrl">
        Your browser does not support the video tag.
      </video>
      <div class="settings-wrapper">
  <button (click)="toggleDropdown()" class="settings-button">⚙️</button>
  <ul *ngIf="dropdownOpen" class="quality-dropdown">
    <li *ngFor="let rendition of renditions" (click)="onQualitySelect(rendition)">
      {{ mapResolutionToLabel(rendition.resolution) }}
    </li>
  </ul>
</div>
    </div>
  </div>
</section>